{"filter":false,"title":"requirements.txt","tooltip":"/spg-deploy/spg-report/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":6,"column":7},"end":{"row":6,"column":7},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1450236360000,"hash":"415c4afc5713a146a68e74974308aeed15e4ceec"}